<div xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/defaultLayout">
    <th:block layout:fragment="layout.content">
        <div class="row">
            <!--사이드바-->
            <div class="col-lg-2 col-md-12 col-sm-12">
                <th:block th:replace="fragments/boardNav"></th:block>
            </div>

            <div class="col-lg-8 col-md-12 col-sm-12 my-2 p-2">
                <h1>질문게시판</h1>
                <div class="col">
                    <th:block th:replace="fragments/searchBar"></th:block>
                </div>
                <!--리스트-->
                <th:block th:replace="fragments/postList"></th:block>
            </div>
        </div>
    </th:block>


</div>