<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" class="h-100">

<head>
    <!-- 공통 css, js, meta tag -->
    <th:block th:replace="fragments/commonHead"></th:block>
</head>

<body class="d-flex flex-column h-100 container">
    <!-- 페이지 상단 부분-->
    <form method="POST">
        <input type="hidden" name="flag" th:value="${flag.flag}">
        <input type="hidden" name="userID" th:value="${idMap.ID}">

        <div>
            <!-- 로그인 관리 -->
            <div class="row d-flex m-2 justify-content-end">
                <!-- <input type="submit" th:formaction="@{/admin/answer}" class="btn" value="Admin"> -->
                <input type="submit" th:if="${userInform.email!=null}" th:formaction="@{/home}" class="btn btn-outline-secondary m-1"
                    name="submit" value="로그아웃">
                <!-- <input type="submit" th:if="${flag.flag}" th:formaction="@{/home}" class="btn btn-outline-secondary m-1"
                    name="submit" value="회원탈퇴"> -->
                <input type="submit" th:if="${userInform.email==null}" th:formaction="@{/login}" class="btn btn-outline-secondary m-1"
                    value="네이버로 로그인">
                <!-- <input type="submit" th:if="${!flag.flag}" th:formaction="@{/signup}" class="btn btn-secondary m-1"
                    value="회원가입"> -->
            </div>

            <!-- 로고 & 네비게이션 바 -->
            <div class="text-center mt-3 pt-3">
                <!-- 로고 -->
                <div class="my-2">
                    <form class="d-inline">
                        <input type="image" class="cs-logo cs-logo-main p-0 btn" style="width: 100px; height: 100px"
                            th:src="@{/img/woodong.jpeg}" th:formaction="@{/home}">
                        <button class="cs-logo btn align-bottom" th:formaction="@{/home}">우동 <small> [우리들의
                                동아리]</small></button>
                    </form>
                </div>

                <!-- 네비게이션 바 -->
                <nav class="navbar navbar-expand-lg mx-0 navbar-light py-1 bg-light">
                    <a class="navbar-brand" href="#"></a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    동아리
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <input type="submit" class="dropdown-item" th:formaction="@{/club/location}"
                                        value="지역별">
                                    <input type="submit" class="dropdown-item" th:formaction="@{/club/interest}"
                                        value="주제별">
                                    <input type="submit" class="dropdown-item" th:formaction="@{/club/ranking}"
                                        value="랭킹 보기">
                                    <input type="submit" class="dropdown-item" th:formaction="@{/club/ranking}"
                                        value="동아리 만들기">
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    커뮤니티
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <input type="submit" class="dropdown-item" th:formaction="@{/community/free}"
                                        value="자유게시판">
                                    <input type="submit" class="dropdown-item" th:formaction="@{/community/qna}"
                                        value="질문게시판">
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    뉴스
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <input type="submit" class="btn dropdown-item" th:formaction="@{/news/notice}"
                                        value="공지사항">
                                    <input type="submit" class="btn dropdown-item" th:formaction="@{/news/event}"
                                        value="이벤트">
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    고객지원
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <input type="submit" class="btn dropdown-item" th:formaction="@{/support/faq}"
                                        value="FAQ">
                                    <input type="submit" class="btn dropdown-item" th:formaction="@{/support/ask}"
                                        value="1:1 문의">
                                </div>
                            </li>
                        </ul>
                        <form class="navbar-brand form-inline">
                            <input class="form-control mr-sm-2" type="search" placeholder="동아리 검색" aria-label="Search">
                            <button class="btn btn-outline-dark mx-2 my-2 my-sm-0" type="submit">검색</button>
                        </form>
                    </div>
                </nav>
            </div>
            <!-- page content body 구성 -->
            <div class="my-4">
                <th:block layout:fragment="layout.content"></th:block>
            </div>
        </div>
    </form>

    <!-- 공통 footer -->
    <th:block th:replace="fragments/commonFooter"></th:block>
</body>

</html>