<div xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/defaultLayout">

    <th:block layout:fragment="layout.content">

        <div class="text-center mt-3 p-5">
            <p class="cs-logo cs-logo-main">FAQ</p>
        </div>
        <!-- th:each="resultData: ${resultMap.resultList}" -->
        <th:block>
            <div class="accordion" id="accordionExample">
                <div class="card" th:each="resultData: ${resultMap}">
                    <div class="card-header">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                aria-expanded="false" th:text="${resultData.TITLE}"
                                th:attr="data-target=${'#faq' + resultData.FAQ_NUM}">
                            </button>
                        </h2>
                    </div>
                    <div th:attr="id=${'faq'+resultData.FAQ_NUM}" class="collapse" data-parent="#accordionExample">
                        <div class="card-body" th:text="${resultData.CONTENT}">
                        </div>
                    </div>
                </div>
            </div>
        </th:block>
    </th:block>
</div>