<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--리스트-->
<table class="table table-hover tb text-center col">
    <thead>
        <tr>
            <th>글번호</th>
            <th>작성자</th>
            <th>제목</th>
            <th>작성시간</th>
            <th>추천</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="post:${resultList}">
            <!-- post number -->
            <td class="col-2">
                <a th:href="@{/view}" name="POSTNUM" th:text="${post.POSTNUM}"></a>
            </td>
            <!-- writer email -->
            <td>
                <a th:href="@{/view}" name="EMAIL" th:text="${post.EMAIL}"></a>
            </td>
            <!-- post title -->
            <td class=" text-left">
                <a th:href="@{/view}" name="TITLE" th:text="${post.TITLE}"></a>
            </td>
            <!-- time -->
            <td class="col-2">
                <small th:text="${#strings.substring(post.TIME,0,16)}"></small>
            </td>
            <!-- recommend -->
            <td class="" th:text="${post.RECOMMEND}"></td>
        </tr>
    </tbody>
</table>

</html>