<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!--리스트-->   
<table class="table table-hover tb text-center col">
    <thead>
        <tr>
            <th>글번호</th>
            <th>작성자</th>
            <th>제목</th>
            <th>작성시간</th>
            <th>추천</th>
        </tr> 
    </thead>
    <tbody>
        <tr th:each="post:${resultList}">
            <!-- post number -->
            <td class="col-2">
                <input type="submit" class="btn" th:formaction="@{'/view/'+${paramMap.CATEGORY_NAME}+'/'+${post.POSTNUM}}" name="POSTNUM" th:value="${post.POSTNUM}">
            </td>
            <!-- writer email -->
            <td>
                <input type="submit" class="btn" readonly name="EMAIL" th:value="${post.EMAIL}">
                <!-- <a th:href="" name="EMAIL" th:text="${post.EMAIL}"></a> -->
            </td>
            <!-- post title -->
            <td class=" text-left">
                <input type="submit" class="btn" th:formaction="@{'/view/'+${paramMap.CATEGORY_NAME}+'/'+${post.POSTNUM}}" name="TITLE" th:value="${post.TITLE}">
            </td>
            <!-- time -->
            <td class="col-2">
                <small th:text="${#strings.substring(post.TIME,0,16)}"></small>
            </td>
            <!-- recommend -->
            <td class="" th:text="${post.RECOMMEND}"></td>
        </tr>
    </tbody>
</table>

</html>