<div xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/defaultLayout">
    <th:block layout:fragment="layout.content">
        <!--글 쓰기 페이지-->
        <h1 class="text-uppercase" th:text="${paramMap.CATEGORY_NAME + ' Board'}"></h1>
        <div>
            <input type="text" class="form-control" name="TITLE" placeholder="제목을 입력하세요">
            <textarea class="editCommentContent" rows="10" name="CONTENT"></textarea>
            <div class="justify-content-end row mx-0 my-3">
                <div th:if="${paramMap.CATEGORY_NUM=='1'||paramMap.CATEGORY_NUM=='2'}">
                    <input th:formaction="${'/community/'+paramMap.CATEGORY_NAME}" type="submit"
                        class="btn m-1 btn-outline-secondary" name="submit" value="글작성">
                    <input th:formaction="${'/community/'+paramMap.CATEGORY_NAME}" type="submit"
                        class="btn btn-secondary m-1" value="목록으로">
                </div>
                <div th:if="${paramMap.CATEGORY_NUM=='3'||paramMap.CATEGORY_NUM=='4'}">
                    <input th:formaction="${'/news/'+paramMap.CATEGORY_NAME}" type="submit"
                        class="btn m-1 btn-outline-secondary" name="submit" value="글작성">
                    <input th:formaction="${'/news/'+paramMap.CATEGORY_NAME}" type="submit"
                        class="btn btn-secondary m-1" value="목록으로">
                </div>
            </div>
        </div>
    </th:block>
</div>