<div xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/defaultLayout">

    <th:block layout:fragment="layout.content">
        <div class="container col-lg-7 col-md-8 col-sm-10">
            <div class="row justify-content-center py-3 border rounded">
                <div class="text-center px-5">
                    <h1 class="my-4">SignUp</h1>
                    <p>네이버 이메일로 회원가입 합니다. 추가 정보를 기입해 주세요.</p>
                    <form method=POST th:formaction="@{/home}">
                        <input type="hidden" name="userEmail" th:value="${resultMap.email}">
                        <input type="hidden" name="birthMonth" th:value="${resultMap.birthMonth}">
                        <input type="hidden" name="birthDay" th:value="${resultMap.birthDay}">
                        <p><span th:text="${resultMap.email}"></span>님의 추가 정보를 입력해 주세요.</p>
                        <div class="text-left border-top py-3">
                            <p>지역을 선택해주세요!</p>
                            <!-- 지역 선택 리스트 -->
                            <select class="form-control custom-select" name="AREA_NAME" id="sortList">
                                <option th:each="sortlist: ${sortList}" th:text=${sortlist.AREA_NAME}></option>
                            </select>
                        </div>
                        <input type="submit" name="submit" class="btn btn-primary" value="회원가입">
                    </form>
                </div>
            </div>
        </div>
    </th:block>
</div>