<div xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/defaultLayout">
    <th:block layout:fragment="layout.content">
        <div class="row">
            <!--사이드바-->
            <div class="col-lg-2 col-md-12 col-sm-12"
                th:if="${resultMap.CATEGORY_NAME=='free'||resultMap.CATEGORY_NAME=='qna'}">
                <th:block th:replace="fragments/boardNav"></th:block>
            </div>
            <div class="col-lg-2 col-md-12 col-sm-12"
                th:if="${resultMap.CATEGORY_NAME=='notice'||resultMap.CATEGORY_NAME=='event'}">
                <th:block th:replace="fragments/newsNav"></th:block>
            </div>

            <!--글 읽기 페이지-->
            <div class="col-lg-9 col-md-12 col-sm-12">
                <!-- 글 정보 -->
                <div class="row border rounded p-3 mt-2 mx-0 justify-content-between">
                    <div class="" th:text="${resultMap.POST_NUM}"></div>
                    <div class="text-left" th:text="${resultMap.NICKNAME}"></div>
                    <div class="text-decoration" th:text="${resultMap.TITLE}"></div>
                    <div class="text-right" th:text="${#strings.substring(resultMap.TIME,0,19)}"></div>
                </div>

                <!-- 글 본문 -->
                <div class="border rounded p-3 my-2">
                    <!-- 글 내용 -->
                    <p th:text="${resultMap.CONTENT}"></p>

                    <!-- 추천 버튼 -->
                    <div id="recommendField" class="row col justify-content-center text-center">
                        <form onsubmit="recommendFunction(this, event)">
                            <!-- hidden -->
                            <input type="hidden" name="POST_NUM" th:value="${resultMap.POST_NUM}">
                            <input type="hidden" name="USER_ID" th:value="${resultMap.USER_ID}">
                            <input type="hidden" name="IsRecommend" th:value="${resultMap.isRecommend}">
                            <input type="hidden" name="recommend" th:value="${resultMap.recommend}">

                            <!-- 버튼 -->
                            <div>
                                <button class="btn btn-sm btn-outline-danger" th:if="${resultMap.isRecommend == 0}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-suit-heart" viewBox="0 0 16 16">
                                        <path
                                            d="m8 6.236-.894-1.789c-.222-.443-.607-1.08-1.152-1.595C5.418 2.345 4.776 2 4 2 2.324 2 1 3.326 1 4.92c0 1.211.554 2.066 1.868 3.37.337.334.721.695 1.146 1.093C5.122 10.423 6.5 11.717 8 13.447c1.5-1.73 2.878-3.024 3.986-4.064.425-.398.81-.76 1.146-1.093C14.446 6.986 15 6.131 15 4.92 15 3.326 13.676 2 12 2c-.777 0-1.418.345-1.954.852-.545.515-.93 1.152-1.152 1.595L8 6.236zm.392 8.292a.513.513 0 0 1-.784 0c-1.601-1.902-3.05-3.262-4.243-4.381C1.3 8.208 0 6.989 0 4.92 0 2.755 1.79 1 4 1c1.6 0 2.719 1.05 3.404 2.008.26.365.458.716.596.992a7.55 7.55 0 0 1 .596-.992C9.281 2.049 10.4 1 12 1c2.21 0 4 1.755 4 3.92 0 2.069-1.3 3.288-3.365 5.227-1.193 1.12-2.642 2.48-4.243 4.38z" />
                                    </svg>
                                </button>
                                <button class="btn btn-sm btn-danger" th:if="${resultMap.isRecommend != 0}">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                        class="bi bi-suit-heart-fill" viewBox="0 0 16 16">
                                        <path
                                            d="M4 1c2.21 0 4 1.755 4 3.92C8 2.755 9.79 1 12 1s4 1.755 4 3.92c0 3.263-3.234 4.414-7.608 9.608a.513.513 0 0 1-.784 0C3.234 9.334 0 8.183 0 4.92 0 2.755 1.79 1 4 1z" />
                                    </svg>
                                </button>
                            </div>
                            <!-- 추천 수 -->
                            <div th:text="${resultMap.recommend}"></div>
                        </form>
                    </div>
                </div>

                <!-- 댓글창 -->
                <div class="border rounded p-3 my-2">
                    <div class="row m-1">
                        <h5>댓글 </h5>
                    </div>
                    <!-- 댓글 목록 -->
                    <div id="commentTable">
                        <div class="border-top p-2" th:each="comment:${commentList}">
                            <!-- 출력 -->
                            <div class="row px-3 justify-content-between">
                                <div>
                                    <!-- NICKNAME -->
                                    <input type="button" class="btn p-0 btn-md" th:value="${comment.NICKNAME}" />
                                    <!-- Time -->
                                    <small class="text-secondary align-bottom"
                                        th:text="${#strings.substring(comment.TIME,0,19)}"></small>
                                </div>
                                <!-- 댓글 삭제 버튼 -->
                                <div class="deleteButton" th:if="${comment.USER_ID == member.USER_ID}">
                                    <form onclick="return deleteComment(this)">
                                        <!-- hidden 영역 -->
                                        <input type="hidden" name="CO_NUM" th:value="${comment.CO_NUM}">
                                        <input type="hidden" name="USER_ID" th:value="${comment.USER_ID}">
                                        <input type="hidden" name="POST_NUM" th:value="${comment.POST_NUM}">
                                        <input type="hidden" name="CATEGORY_NAME" th:value="${resultMap.CATEGORY_NAME}">
                                        <!-- 삭제 -->
                                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18"
                                            fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                            <path
                                                d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                                        </svg>
                                    </form>
                                </div>
                            </div>
                            <form onsubmit="return editFunction(this, event)">
                                <!-- 댓글 내용 -->
                                <!-- 현재 사용자 = 댓글 작성자 -->
                                <div th:if="${comment.USER_ID==member.USER_ID}">
                                    <!-- 댓글 출력 -->
                                    <pre class="comment col" th:text="${comment.CONTENT}">
                                    </pre>
                                    <!-- 댓글 수정을 위한 필드 -->
                                    <textarea style="display: none" class="editCommentContent col" name="CONTENT"
                                        th:text="${comment.CONTENT}">
                                    </textarea>
                                </div>
                                <!-- 현재 사용자 =/= 댓글 작성자 -->
                                <div th:if="${comment.USER_ID!=member.USER_ID}">
                                    <pre class="comment col" th:text="${comment.CONTENT}"></pre>
                                </div>
                                <!-- hidden 영역 -->
                                <input type="hidden" name="CO_NUM" th:value="${comment.CO_NUM}">
                                <input type="hidden" name="USER_ID" th:value="${comment.USER_ID}">
                                <input type="hidden" name="POST_NUM" th:value="${comment.POST_NUM}">
                                <input type="hidden" name="CATEGORY_NAME" th:value="${resultMap.CATEGORY_NAME}">
                                <input type="hidden" name="ORIGIN_CONTENT" th:value="${comment.CONTENT}">
                                <div class="text-right" th:if="${comment.USER_ID==member.USER_ID}">
                                    <input type="submit" value="수정" name="editButton"
                                        class="btn btn-sm btn-outline-secondary editButton" />
                                    <input type="submit" value="취소" name="cancelButton" style="display: none"
                                        class="btn btn-sm btn-outline-secondary editButton" />
                                </div>
                            </form>
                        </div>
                    </div>

                    <!-- 작성란&버튼 -->
                    <div class="col justify-content-center my-1 mx-0">
                        <form method="POST" onsubmit="checkComment(event, this)" class="row justify-content-center">
                            <!-- hidden 영역 -->
                            <input type="hidden" name="POST_NUM" th:value="${resultMap.POST_NUM}">
                            <input type="hidden" name="CATEGORY_NAME" th:value="${resultMap.CATEGORY_NAME}">

                            <!-- 입력 영역 -->
                            <input type="text" name="CONTENT" class="col form-control">
                            <input type="submit" class="btn btn-secondary p-1 ml-2 col-2" value="댓글작성">
                        </form>
                    </div>
                </div>

                <!-- 하단 버튼 -->
                <div class="text-right my-3">
                    <!-- 게시글 수정&삭제 버튼 -->
                    <!-- <input type="hidden" name="POST_NUM" th:value="${resultMap.POST_NUM}"> -->
                    <!-- news 게시판 -->
                    <form th:action="${'/news/'+resultMap.CATEGORY_NAME}"
                        th:if="${resultMap.CATEGORY_NAME=='notice'||resultMap.CATEGORY_NAME=='event'}">
                        <!-- hidden 영역 -->
                        <!-- <input type="hidden" name="USER_ID" th:value="${member.USER_ID}"> -->
                        <input type="hidden" name="POST_NUM" th:value="${resultMap.POST_NUM}">
                        <input type="hidden" name="CATEGORY_NAME" th:value="${resultMap.CATEGORY_NAME}">
                        <span th:if="${member!=null && resultMap.USER_ID==member.USER_ID}">
                            <!-- 수정 버튼 -->
                            <input type="submit" name="submit" value="수정" class="btn btn-outline-secondary m-1">
                            <!--삭제 버튼-->
                            <input type="submit" name="submit" value="삭제" class="btn btn-outline-secondary m-1">
                        </span>
                        <!--목록으로 버튼-->
                        <input type="submit" value="목록으로" class="btn btn-secondary m-1">
                    </form>

                    <!-- community 게시판 -->
                    <form th:action="${'/community/'+resultMap.CATEGORY_NAME}"
                        th:if="${resultMap.CATEGORY_NAME=='free'||resultMap.CATEGORY_NAME=='qna'}">
                        <!-- hidden 영역 -->
                        <input type="hidden" name="POST_NUM" th:value="${resultMap.POST_NUM}">
                        <input type="hidden" name="CATEGORY_NAME" th:value="${resultMap.CATEGORY_NAME}">
                        <input type="hidden" name="TITLE" th:value="${resultMap.TITLE}">
                        <input type="hidden" name="CONTENT" th:value="${resultMap.CONTENT}">
                        <span th:if="${member!=null && resultMap.USER_ID==member.USER_ID}">
                            <!-- 수정 버튼 -->
                            <input type="submit" name="submit" th:formaction="${'/update'}" value="수정" class="btn btn-outline-secondary m-1">
                            <!--삭제 버튼-->
                            <input onclick="return checkDeletePost()" type="submit" name="submit" value="삭제" class="btn btn-outline-secondary m-1">
                        </span>
                        <!--목록으로 버튼-->
                        <input type="submit" value="목록으로" class="btn btn-secondary m-1">
                    </form>
                </div>
            </div>
        </div>
    </th:block>
</div>