<div xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/defaultLayout">
    <th:block layout:fragment="layout.content">
        <div class="row">
            <!--사이드바-->
            <div class="col-lg-2 col-md-12 col-sm-12" th:if="${resultMap.CATEGORY_NUM==1||resultMap.CATEGORY_NUM==2}">
                <th:block th:replace="fragments/boardNav"></th:block>
            </div>
            <div class="col-lg-2 col-md-12 col-sm-12" th:if="${resultMap.CATEGORY_NUM==3||resultMap.CATEGORY_NUM==4}">
                <th:block th:replace="fragments/newsNav"></th:block>
            </div>

            <!--글 읽기 페이지-->
            <div class="col-lg-9 col-md-12 col-sm-12">
                <!-- 글 정보 -->
                <div class="row border rounded p-3 mt-2 mx-0 justify-content-between">
                    <div class="" th:text="${resultMap.POSTNUM}"></div>
                    <div class="text-left" th:text="${resultMap.EMAIL}"></div>
                    <div class="text-decoration" th:text="${resultMap.TITLE}"></div>
                    <div class="text-right" th:text="${#strings.substring(resultMap.TIME,0,19)}"></div>
                </div>

                <!-- 글 본문 -->
                <div class="border rounded p-3 my-2">
                    <p th:text="${resultMap.CONTENT}"></p>
                    <div class="row col justify-content-center">
                        <form method="POST">
                            <!-- <form method="POST" onsubmit="return checkUser(this)"> -->
                            <input type="hidden" name="userEmail" th:value="${userInform.userEmail}">
                            <input type="hidden" name="POSTNUM" th:value="${resultMap.POSTNUM}">
                            <!-- 추천 버튼 -->
                            <div class="mt-5">
                                <input type="submit" class="btn btn-outline-danger" th:formaction="@{/view}"
                                    name="submit" value="추천">
                                <span th:text="${resultMap.RECOMMEND}"></span><span>명이 추천합니다</span>
                            </div>
                        </form>
                    </div>
                </div>

                <!-- 댓글창 -->
                <div class="border rounded p-3 my-2">
                    <div class="row m-1">
                        <h5>댓글 </h5>
                    </div>
                    <!-- 댓글 목록 -->
                    <div class="form-row">
                        <table class="table" id="commentTable">
                            <tr>
                                <th>작성자</th>
                                <th>내용</th>
                                <th>시간</th>
                                <th></th>
                                <th></th>
                            </tr>
                            <tr th:each="comment:${commentList}">
                                <form method="POST">
                                    <!-- <input type="hidden" name="flag" th:value="${flag.flag}">
                                    <input type="hidden" name="userID" th:value="${idMap.ID}"> -->
                                    <input type="hidden" id="hiddenCommentTime" name="TIME" th:value="${comment.TIME}">
                                    <input type="hidden" id="commentNum" name="CommentNum" th:value="${comment.CO_NUM}">
                                    <input type="hidden" name="POSTNUM" th:value="${resultMap.POSTNUM}">

                                    <td class="col-2" name="commentID" th:text="${comment.EMAIL}"></td>
                                    <td class="col-4" th:text="${comment.CONTENT}"></td>
                                    <td class="col-3" th:text="${#strings.substring(comment.TIME,0,19)}"></td>
                                    <td class="col-1">
                                        <span th:if="${comment.EMAIL==userInform.userEmail}"><button type="submit"
                                                class="badge badge-pill badge-light" name="submit"
                                                value="update">수정</button></span>
                                    </td>
                                    <td class="col-1">
                                        <span th:if="${comment.EMAIL==userInform.userEmail}"><button type="submit"
                                                class="badge badge-pill badge-light" name="submit"
                                                value="delete">삭제</button></span>
                                    </td>
                                </form>
                            </tr>
                        </table>
                    </div>

                    <!-- 작성란&버튼 -->
                    <div class="col justify-content-center my-1 mx-0">
                        <form method="POST" class="row justify-content-center" onsubmit="return checkComment(this)">
                            <!-- hidden 영역 -->
                            <input type="hidden" name="userEmail" th:value="${userInform.userEmail}">
                            <input type="hidden" name="POSTNUM" th:value="${resultMap.POSTNUM}">

                            <!-- 입력 영역 -->
                            <input type="text" name="CONTENT" class="col form-control">
                            <input type="submit" class="btn btn-secondary p-1 ml-2 col-2" id="commentWriteButton"
                                name="submit" value="댓글작성">
                        </form>
                    </div>
                </div>

                <!-- 하단 버튼 -->
                <div class="justify-content-end col row m-3">
                    <!-- 게시글 수정&삭제 버튼 -->
                    <div th:if="${resultMap.EMAIL==userInform.userEmail}">
                        <!-- 수정 버튼 -->
                        <input name="submit" type="submit" value="수정"
                            class="btn btn-outline-secondary m-1">

                        <!--삭제 버튼-->
                        <input type="hidden" name="POSTNUM" th:value="${resultMap.POSTNUM}">
                        <input
                            th:if="${resultMap.CATEGORY_NUM==3||resultMap.CATEGORY_NUM==4}"
                            th:formaction="${'/news/'+resultMap.CATEGORY_NAME}" type="submit" name="submit" value="삭제"
                            class="btn btn-outline-secondary m-1">
                        <input
                            th:if="${resultMap.CATEGORY_NUM==1||resultMap.CATEGORY_NUM==2}"
                            th:formaction="${'/community/'+resultMap.CATEGORY_NAME}" type="submit" name="submit"
                            value="삭제" class="btn btn-outline-secondary m-1">
                    </div>
                    <!--목록으로 버튼-->
                    <input type="submit" value="목록으로" class="btn btn-secondary m-1"
                    th:if="${resultMap.CATEGORY_NUM=='1'||resultMap.CATEGORY_NUM=='2'}"
                        th:formaction="${'/community/'+resultMap.CATEGORY_NAME}">
                    <input type="submit" value="목록으로" class="btn btn-secondary m-1"
                    th:if="${resultMap.CATEGORY_NUM=='3'||resultMap.CATEGORY_NUM=='4'}"
                        th:formaction="${'/news/'+resultMap.CATEGORY_NAME}">
                </div>
            </div>
        </div>
</div>
</th:block>
</div>