<div xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/defaultLayout">
    <th:block layout:fragment="layout.content">
        <div class="row">
            <!--사이드바-->
            <div class="col-lg-2 col-md-12 col-sm-12">
                <th:block th:replace="fragments/clubNav"></th:block>
            </div>
            <div class="col-lg-8 col-md-12 col-sm-12 my-2 p-2">
                <div class="col">
                    <h1>주제별 동아리</h1>
                    <div class="mt-2">원하시는 활동주제를 선택해주세요.</div>
                    <form name="search1" class="row mt-3" th:action="@{/club/interest}">
                        <input type="hidden" name="userEmail" th:value="${userInform.userEmail}">

                        <div class="form-group col-lg-3 col-md-3 col-sm-3">
                            <span class="form-control font-weight-bold text-center">활동주제</span>
                        </div>
                        <div class="form-group col-lg-7 col-md-7 col-sm-7">
                            <select class="form-control custom-select" name="INTEREST_NAME" id="INTEREST_NAME">
                                <option>모두</option>
                                <option th:each="sortlist: ${sortList}" th:text=${sortlist.INTEREST_NAME}></option>
                            </select>
                        </div>
                        <div class="form-group col-lg-2 col-md-2 col-sm-2">
                            <button type="submit" class="form-control btn-primary">검색</button>
                        </div>
                    </form>
                    <!-- 리스트 -->
                    <th:block th:replace="fragments/clubList"></th:block>
                </div>
            </div>
        </div>
    </th:block>
</div>