<div xmlns:th="http://www.thymeleaf.org" layout:decorator="layout/defaultLayout">

    <th:block layout:fragment="layout.content">

        <div class="row">
            <!--사이드바-->
            <div class="col-lg-2 col-md-12 col-sm-12">
                <th:block th:replace="fragments/clubNav"></th:block>
            </div>

            <!-- center content -->
            <div class="container myhometown col-lg-10 col-md-12 col-sm-12">
                <h1 class="display-4 text-center cs-logo">TOP 10</h1>
                <table class="table table-sm table-hover table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th>순위</th>
                            <th>동아리 이름</th>
                            <th>소개</th>
                            <!-- <th>지역</th> -->
                            <!-- <th>분야</th> -->
                            <th>멤버 수</th>
                        </tr>
                    <tbody>
                        <tr th:each="resultData: ${resultList}" th:if="${resultDataStat.index < 10}">
                            <td th:text=${resultDataStat.index+1}></td>
                            <td th:text=${resultData.CLUB_NAME}></td>
                            <!-- <td th:text=${resultData.AREA_NAME}></td> -->
                            <td th:text=${resultData.INTRO}></td>
                            <td th:text=${resultData.MEMBER_COUNT}></td>
                    </tbody>
                </table>
            </div>
        </div>
</div>
</th:block>


</div>